extends layout

block content
  h1 !{title}

  .container
   p Do you really want to remove !{player.name} from the list of players? 
    form(method='POST' action='')
      input(type='hidden', name='playerid', required='true', value=player._id)
      button(type='submit') Delete 