extends layout

block content
  h1 !{title}

  .container
    ul(class="list-group")
      each player in player_list
        li(class="list-group-item")
          a(href=player.url) #{player.name}
      else
        li There are no players. 
