extends layout

block content
  h1 !{title}
  .container
    ul(class="list-group")
      each sport in sport_list
        li(class="list-group-item")
          a(href=sport.url) #{sport.name}
      else
        li There are no sports. 
