extends layout

block content
  h1 !{title}
  .container
    ul(class="list-group")
      each team in team_list
        li(class="list-group-item")
          a(href=team.url) #{team.name}
      else
        li There are no books.
